<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About Our Company</h2>
  <p>
   FIS™ is the world's largest global provider dedicated to banking and payments technologies. FIS empowers the financial world with payment processing and banking solutions, including software, services and technology outsourcing. FIS’ more than 55,000 worldwide employees are passionate about moving our clients’ business forward.

Headquartered in Jacksonville, Florida, FIS serves more than 20,000 clients in over 130 countries, and our technology powers billions of transactions annually that move over $9 trillion around the globe. FIS is a Fortune 500 company and is a member of Standard & Poor’s 500® Index. 

We never lose sight that FIS succeeds only when our clients succeed. This drives our commitment to thought leadership, operational excellence and innovation that champions our clients’ business and keeps them competitive in today’s dynamic and challenging industry environment. We help our clients transform disruption into opportunity, giving them the tools needed to thrive not just today, but in tomorrow’s financial world.
  </p>
	{{#link-to 'contact' class="button"}}
    Contact Us!
  {{/link-to}}
</div>
