<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contact Us</h2>
  <p>Thank you for your interest in FIS, where each and every day we empower the financial world with payment processing and banking solutions. Our more than 55,000 employees worldwide are passionate about helping you move your business forward, so please complete the form below, adding any comments that will help us route your inquiry to the area best able to assist you.</p>
  <p>
    World Headquarters
    <address>
      FIS
601 Riverside Avenue
Jacksonville, FL 32204 USA
    </address>
    <a href="tel:503.555.1212">904.438.6000</a><br>
    <a href="mailto:superrentalsrep@emberjs.com">moreinfo@fisglobal.com</a>
  </p>

	{{#link-to 'about' class="button"}}
		About
	{{/link-to}}
</div>
